/* web_fedoseev/src/pages/Apocalypse.css */

.apocalypse-container .apocalypse-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
}

.apocalypse-container .apocalypse-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 11;
    padding: 10px 20px; /* Добавляем отступы для текста */
    border-radius: 8px; /* Скругляем углы текста */
}
.apocalypse-container .apocalypse-text h1{
    color: black;
}