/* Контейнер формы логина */
.login-container {
    position: fixed;
    top: 40%;
    left: 42%;
    /* Устанавливаем белый цвет фона для контейнера формы, игры с прозрачностью были проиграны, по этому 1 */
    background-color: rgba(255, 255, 255, 0);
    /* Задаем внутренние отступы для контейнера */
    padding: 20px;
    /* Добавляем скругление углов контейнера */
    border-radius: 8px;
    /* Добавляем тень вокруг контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Устанавливаем фиксированную ширину контейнера */
    width: 300px;
    /* Включаем учет внутренних отступов и границ в ширину и высоту */
    box-sizing: border-box;
}

/* Заголовок H2 */
.login-container h2 {
    /* Задаем нижний отступ для заголовка */
    margin-bottom: 20px;
    /* Выравниваем текст заголовка по центру */
    text-align: center;
    /* Бабахаем в белый цвет */
    color: #ffffff;

}
/* Стили для метки "логин" */
label {
    color: rgba(255, 255, 255, 0.7); /* Здесь вы можете задать любой цвет текста */
}

/* Поле ввода логина */
.login-container input {
    /* Устанавливаем ширину поля ввода, вычитая 20px для учета внутренних отступов */
    width: calc(100% - 20px);
    /* Добавляем внутренние отступы внутри поля ввода */
    padding: 10px;
    /* Устанавливаем нижний отступ для поля ввода */
    margin: 0 auto 10px auto;
    /* Задаем серую границу для поля ввода */
    border: 1px solid #ffffff;
    /* Скругляем углы поля ввода */
    border-radius: 4px;
    /* Задаем блочное отображение для поля ввода */
    display: block;
    background-color: rgba(255, 255, 255, 0.35);

}


/* Кнопка логина */
.login-container button {
    /* Устанавливаем ширину кнопки на 100% */
    width: 100%;
    /* Добавляем внутренние отступы внутри кнопки */
    padding: 10px;
    /* Добавляем внешний отступ */
    margin: 5px 0;
    /* Задаем цвет фона для кнопки */
    background-color: #b8700b;
    /* Убираем границу кнопки */
    border: none;
    /* Скругляем углы кнопки */
    border-radius: 4px;
    /* Устанавливаем цвет текста кнопки */
    color: #000000;
    /* Увеличиваем размер шрифта внутри кнопки */
    font-size: 16px;
    /* Меняем курсор на указатель при наведении */
    cursor: pointer;
}

.login-container button:hover {
    /* Меняем цвет фона кнопки при наведении */
    background-color: #b8860b;
}


