/* Стили для контейнера страницы */
.pokemon-store {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Стили для контейнера магазина */
.store-container {
    display: flex;
    width: 98%;
    height: 80%;
    margin-left: 1%;
    margin-right: 1.5%;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.41);
    border: none;
    border-radius: 15px;
    padding: 15px;

}

/* Стили для заголовка страницы */
.store-container h1 {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}


/* Стили для витрины */
.pokemon-list {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: auto;
    max-height: 600px;
    margin-bottom: 15%;


}

/* Скрываем ползунок прокрутки для Chrome, Safari и Edge */
.pokemon-list::-webkit-scrollbar {
    display: none;
}

.cart-container {
    width: calc(25% - 30px);
    margin-left: 30px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 600px; /* Adjust based on your layout */
}

/* Стили для блока фильтров */
.filter-sort-search {
    display: flex;
    align-items: center;
    gap: 30px; /* Отступ между элементами */
    margin-top: 30px; /* Отступ от header */
    margin-bottom: 20px; /* Отступ от витрины */
    width: 97%; /* Ширина блока фильтров */
    color: rgba(255, 255, 255, 0.7);
}

/* Стили для поля поиска */
.filter-sort-search input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    max-width: 200px;
}

/* Стили для блоков фильтров (вес и рост) */
.filter-sort-search > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-sort-search label {
    font-weight: bold;
}

.filter-sort-search input[type="range"] {
    width: 150px;
}

/* Стили для кнопок сортировки и сброса */
.filter-sort-search button {
    padding: 8px 15px;
    background-color: rgb(184, 112, 11);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.filter-sort-search button:hover {
    background-color: rgb(150, 90, 10);
}