/* Header.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo img {
    margin-right: 5%;
    margin-left: 5%;
    height: 150px;
}

nav ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #b8860b;
    border-radius: 5px;
}

.profile {
    margin-left: auto;
    padding: 10px 10px;
    margin-right: 40px;
}

.profile a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.profile a:hover {
    background-color: #b8860b;
    border-radius: 5px;
}
